.card {
    width: 100%;
    max-width: 300px;
    text-align: center;
    position: relative;
}

.price {
    color: tomato;
    font-size: 2rem;
}

.image {
    width: 100%;
    height: 200px;
}

.wrapper {
    list-style-type: none;
}
.bottom {
    display: flex;
    flex-direction: column;
}
.button {
    margin-top: 5px;
}