.formContainer {
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    max-width: 500px;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;   
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}